# ========== Maven ==========
target/
*.class
*.jar
*.war

# ========== Node ==========
node_modules/
dist/

# ========== IDE ==========
.idea/
*.iml
.vscode/settings.json

# ========== Cache ==========
.classpath.txt

# ========== OS ==========
.DS_Store
Thumbs.db
